/Backend/TemuFansDocumentosBO/build/
/Backend/TemuFansDocumentosTest/build/
/Backend/TemuFansDocumentosModel/build/
/Backend/TemuFansDocumentosDA/build/
/Backend/TemuFansInventario/dist/
/Backend/TemuFansInventario/build/
/Backend/TemuFansUsuarioModel/build/
/Backend/TemuFansUsuarioModel/dist/
/Backend/TemuFansDocumentosModel/dist/
/Backend/TemuFansDocumentosDA/dist/
/Backend/TemuFansDocumentosBO/dist/
/Backend/TemuFansDocumentosTest/dist/
/Backend/TemuFansWS/build/
/Backend/TemuFansWS/dist/
/Backend/Backend/TemuFansDBManager/build/
/Backend/Backend/TemuFansDBManager/dist/
/Backend/Backend/TemuFansDBManager/nbproject/private/
/Backend/Backend/TemuFansDBManagerEVO/build/
/Backend/Backend/TemuFansDBManagerEVO/dist/
/Backend/Backend/TemuFansDBManagerEVO/nbproject/private/
/Backend/Backend/TemuFansDBManagerTest/build/
/Backend/Backend/TemuFansDBManagerTest/dist/
/Backend/Backend/TemuFansDBManagerTest/nbproject/private/
/Backend/Backend/TemuFansDocumentosBO/build/
/Backend/Backend/TemuFansDocumentosBO/dist/
/Backend/Backend/TemuFansDocumentosBO/nbproject/private/
/Backend/Backend/TemuFansDocumentosDA/build/
/Backend/Backend/TemuFansDocumentosDA/dist/
/Backend/Backend/TemuFansDocumentosDA/nbproject/private/
/Backend/Backend/TemuFansDocumentosModel/build/
/Backend/Backend/TemuFansDocumentosModel/dist/
/Backend/Backend/TemuFansDocumentosModel/nbproject/private/
/Backend/Backend/TemuFansDocumentosTest/build/
/Backend/Backend/TemuFansDocumentosTest/nbproject/private/
/Backend/Backend/TemuFansInventario/build/
/Backend/Backend/TemuFansInventario/dist/
/Backend/Backend/TemuFansInventario/nbproject/private/
/Backend/Backend/TemuFansInventarioBO/nbproject/private/
/Backend/Backend/TemuFansInventarioDA/nbproject/private/
/Backend/Backend/TemuFansInventarioTest/nbproject/private/
/Backend/Backend/TemuFansUsuarioBO/build/
/Backend/Backend/TemuFansUsuarioBO/dist/
/Backend/Backend/TemuFansUsuarioBO/nbproject/private/
/Backend/Backend/TemuFansUsuarioDA/build/
/Backend/Backend/TemuFansUsuarioDA/dist/
/Backend/Backend/TemuFansUsuarioDA/nbproject/private/
/Backend/Backend/TemuFansUsuarioModel/build/
/Backend/Backend/TemuFansUsuarioModel/dist/
/Backend/Backend/TemuFansUsuarioModel/nbproject/private/
/Backend/Backend/TemuFansUsuarioTest/build/
/Backend/Backend/TemuFansUsuarioTest/nbproject/private/
/Backend/Backend/TemuFansWS/build/
/Backend/Backend/TemuFansWS/nbproject/private/
/Backend/Backend/TemuFansDocumentosTest/dist/
/Backend/TemuFansUsuarioTest/build/
/Backend/TemuFansUsuarioTest/nbproject/private/
Front/.vs/PruebaBootstrap/FileContentIndex/c6b9781c-31d3-4f26-ad49-e89bd73086ae.vsidx
Front/.vs/PruebaBootstrap/FileContentIndex/a2a191ee-ba79-4c63-90bf-74ba45081b18.vsidx
Front/.vs/PruebaBootstrap/FileContentIndex/90b795c9-4ab1-4ed0-a19d-855b7f724047.vsidx
Front/.vs/PruebaBootstrap/FileContentIndex/7f752fc0-58bd-4af8-b2a2-2335b787da3f.vsidx
Front/.vs/PruebaBootstrap/FileContentIndex/6124f58d-52a2-4019-bd1a-bce3a0701700.vsidx
*.properties

