<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServicioWSPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8080/TemuFansWS/ServicioWS"
                binding="basicHttpBinding" bindingConfiguration="ServicioWSPortBinding"
                contract="ServicioWS.ServicioWS" name="ServicioWSPort" />
		</client>
	</system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>